name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js 16.x
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'
          cache: 'npm'

      - name: Run setup
        run: make setup

      - name: Run tests
        run: make test

      - name: Run linter
        run: make lint
